@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

#Main-Text{
    font-family: 'Dancing Script', cursive;
 
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Nav-btn{
    background-color: rgb(245, 191, 13);
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 30px;
}
#our-team{
    display: flex;
    text-align: center;
    justify-content: center;
}